ACTION=="add", KERNEL=="sd*", SUBSYSTEM=="block", ENV{DEVTYPE}=="partition", RUN+="/bin/bash -c '/usr/local/etc/udev/scripts/usb-disk-add-wrapper.sh > /var/log/udev/usb-disk-add-wrapper.log'"